name: build7

on:
  workflow_dispatch:

jobs:
  build7:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: run build
        run: build7.bat
        shell: cmd

      - name: run installer build
        run: installer/build7.bat
        shell: cmd

      - name: upload installer artifacts
        uses: actions/upload-artifact@v4
        with:
          name: installer artifacts
          path: installer/dist/**
          retention-days: 7
